<mat-card>
    <mat-card-title>
        <h3 class="mat-h3">
            <a (click)="openPost()">{{getPost().title}}</a>
        </h3>
    </mat-card-title>

    <mat-card-actions>
        <button mat-button>
            <span *ngIf="getPost().num_comments === 0" translate>
                LIST_POST_COMMENTS_AMOUNT_NONE
            </span>
            <span *ngIf="getPost().num_comments === 1" translate>
                LIST_POST_COMMENTS_AMOUNT_SINGLE
            </span>
            <span *ngIf="getPost().num_comments > 1" translate [translateParams]="{amount: getPost().num_comments}">
                LIST_POST_COMMENTS_AMOUNT_PLURAL
            </span>
        </button>
    </mat-card-actions>
</mat-card>
