mat-card {
    margin: 16px;
}

mat-card-title {
    h3.mat-h3 {
        margin: 0;
    }
}

mat-card-subtitle {
    p {
        display: inline-block;
        margin: 0;

        &:not(:last-child) {
            &:after {
                content: '•';
                display: inline-block;
                margin: 0 8px;
            }
        }
    }
}

a {
    color: inherit;
}
